<div>
	<a href="/tipocadastro"><img class="mt-2 ml-3" width="45" src="/imagens/botao_voltar.png" ></a>
</div>

<div>
	<img id="btnLogo" src="<%- root %>/imagens/logo.png" />
</div>

<form id="telaLogin" method="POST" enctype="multipart/form-data">
	<div class="card-header" id="cardhead">
		<h1 class="text-center">Cadastre-se</h1>
	</div>

	<input type="hidden" id="idperfil" name="idperfil" value="<%= idperfil %>" />
	<input type="hidden" id="idtipo" name="idtipo" value="<%= idtipo %>" />

	<div class="card-body" id="card">
		<div class="form-group">
			<div class="form-row align-items-center">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label for="nome" class="col-form-label">Razão Social</label>
				</div>
			</div>

			<div>
				<input type="text" class="form-control" id="nome" name="nome" placeholder="Informe a Razão Social da empresa" />
			</div>
		</div>

		<div class="form-group">
			<div class="form-row align-items-center">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label for="cnpj" class="col-form-label">CNPJ</label>
				</div>
			</div>

			<div>
				<input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="99.999.999/0001-99" />
			</div>
		</div>

		<div class="form-group">
			<div class="form-row align-items-center">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label for="idestado" class="col-form-label">UF</label>
				</div>
			</div>

			<select class="custom-select" id="idestado" name="idestado">
				<option selected disabled value="">Escolha...</option>
				<% for (let i = 0; i < estados.length; i++) { %>
				<option value="<%= estados[i].id %>"><%= estados[i].sigla %></option>
				<% } %>
			</select>
		</div>

		<div class="form-group">
			<div class="form-row align-items-center">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label for="idcidade" class="col-form-label">Cidade</label>
				</div>
			</div>

			<select class="custom-select" id="idcidade" name="idcidade">
				<option selected disabled value="">Escolha...</option>
			</select>
		</div>

		<div class="form-group">
			<div class="form-row align-items-center">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label for="endereco" class="col-form-label">Endereço Completo</label>
				</div>
			</div>

			<div>
				<input type="text" class="form-control" id="endereco" name="endereco" placeholder="Informe o Endereço" />
			</div>
		</div>

		<div class="form-group">
			<div class="form-row align-items-center">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label for="telefone" class="col-form-label">Telefone</label>
				</div>
			</div>

			<div>
				<input type="text" class="form-control" id="telefone" name="telefone" placeholder="(99) 99999-9999" />
			</div>
		</div>

		<div class="form-group">
			<div class="form-row align-items-center">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label for="nomeresp" class="col-form-label">Responsável</label>
				</div>
			</div>

			<div>
				<input type="text" class="form-control" id="nomeresp" name="nomeresp" placeholder="Informe o nome do Responsável" />
			</div>
		</div>

		<div class="form-group">
			<div class="form-row align-items-center">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label for="emailcont" class="col-form-label">E-mail</label>
				</div>
			</div>

			<div>
				<input type="email" class="form-control" id="emailcont" name="emailcont" placeholder="Informe o e-mail de contato da empresa" />
			</div>
		</div>

		<div class="form-group">
			<div class="form-row align-items-center mb-1">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label class="col-form-label">Quais os tipos de combustível são vendidos?</label>
				</div>
			</div>
			<div class="mb-3">
				<small> - Nota: Assinale apenas aqueles que se aplicam: </small>
			</div>

			<div class="container">
				<div class="form-group">
					<div class="form-check-inline col-sm-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="G1" name="combustiveis" value="1" />
							<label class="custom-control-label" for="G1">Gasolina Comum</label>
						</div>
					</div>

					<div class="form-check-inline col-sm-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="G2" name="combustiveis" value="2" />
							<label class="custom-control-label" for="G2">Gasolina Aditivada</label>
						</div>
					</div>

					<div class="form-check-inline col-sm-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="G3" name="combustiveis" value="3" />
							<label class="custom-control-label" for="G3">Gasolina Premium</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="form-check-inline col-sm-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="A1" name="combustiveis" value="4" />
							<label class="custom-control-label" for="A1">Álcool Comum</label>
						</div>
					</div>

					<div class="form-check-inline col-sm-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="A2" name="combustiveis" value="5" />
							<label class="custom-control-label" for="A2">Álcool Aditivado</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="form-check-inline col-sm-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="D1" name="combustiveis" value="6" />
							<label class="custom-control-label" for="D1">Diesel S10</label>
						</div>
					</div>

					<div class="form-check-inline col-sm-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="D2" name="combustiveis" value="7" />
							<label class="custom-control-label" for="D2">Diesel S500</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mb-1">
			<div class="form-row align-items-center mb-1">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label for="frotapropria" class="col-form-label">Possui frota própria?</label>
				</div>
			</div>

			<select class="custom-select" id="frotapropria" name="frotapropria">
				<option selected disabled value="">Escolha...</option>
				<option value="1">SIM</option>
				<option value="0">NÃO</option>
			</select>
		</div>

		<div class="mb-4">
			<div class="form-row align-items-center mb-1">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label for="convenio" class="col-form-label">Caso "NÃO", convênio com quais?</label>
				</div>
			</div>
			<input type="text" class="form-control" id="convenio" name="convenio" placeholder="Liste convênios e/ou preferências" />
		</div>

		<div class="form-row align-items-center mb-1">
			<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

			<div class="col">
				<label class="col-form-label">Anexar os seguintes documentos:</label>
			</div>
		</div>
		<div class="custom-file" style="margin-bottom: 10px">
			<input type="file" class="custom-file-input" id="contratosocial" name="contratosocial" accept="application/pdf" />
			<label class="custom-file-label" for="contratosocial" data-browse="Escolher arquivo...">Contrato Social</label>
		</div>

		<div class="custom-file" style="margin-bottom: 35px">
			<input type="file" class="custom-file-input" id="extratobancario" name="extratobancario" accept="application/pdf" />
			<label class="custom-file-label" for="extratobancario" data-browse="Escolher arquivo...">Extrato Bancário</label>
		</div>

		<hr />

		<div class="form-group mb-4">
			<div class="form-row align-items-center">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label for="login" class="col-form-label">Usuário</label>
				</div>
			</div>

			<div>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">@</div>
					</div>
					<input type="text" class="form-control text-lowercase" id="login" name="login" placeholder="Informe o USUÁRIO para Login" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="form-row align-items-center">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label for="senha" class="col-form-label">Senha</label>
				</div>
			</div>

			<div>
				<input type="password" class="form-control" id="senha" name="senha" placeholder="Informe a SENHA para Login" />
			</div>
		</div>

		<div class="form-group">
			<div class="form-row align-items-center">
				<img src="<%- root %>/imagens/seta-esq.png" width="20" class="col-form-label" />

				<div class="col">
					<label for="senha2" class="col-form-label"> Confirmar Senha</label>
				</div>
			</div>

			<div style="margin-bottom: 35px">
				<input  type="password" class="form-control" id="senha2" name="senha2" placeholder="Confirme a SENHA para Login" />
			</div>
			<hr class="mb-5" />
		</div>

		<div class="cardbutton">
			<button type="submit" class="btn btn-block btn-primary epex btnFin"><span>FINALIZAR CADASTRO</span></button>
		</div>
	</div>
</form>

<script type="text/javascript">
	//<![CDATA[
	"use strict";

	function maskMobilePhone(field) {
		var reg = /\D/g, behavior = function (val) {
			return ((val.replace(reg, "").length === 11) ? "(00) 00000-0000" : "(00) 0000-00009");
		}, opt = {
			onKeyPress: function (val, e, field, options) {
				field.mask(behavior.apply({}, arguments), options);
			}
		};
		$(field).mask(behavior, opt);
	};

	maskMobilePhone("#telefone");
	$("#cnpj").mask("00.000.000/0000-00");

	$("#idestado").on("change", function () {
		if (JsonWebApi.active)
			return;

		JsonWebApi.get("<%- root %>/listarCidades/" + $("#idestado").val(), function (response) {
			if (response.success) {
				var html = '<option selected disabled value="">Escolha...</option>';

				for (var i = 0; i < response.value.length; i++) {
					html += '<option value="' + response.value[i].id + '">' + response.value[i].nome + '</option>';
				}

				$("#idcidade").html(html);
			} else {
				alert(response.value);
			}
		});
	});

	$("#telaLogin").validate({
		rules: {
			nome: {
				required: true,
				minlength: 3,
				maxlength: 100
			}, 
			cnpj: {
				required: true,
				minlength: 18,
				maxlength: 18
			},
			endereco: {
				required: true,
				minlength: 3,
				maxlength: 100
			},
			idestado: {
				required: true
			},
			idcidade: {
				required: true
			},
			telefone: {
				required: true,
				minlength: 3,
				maxlength: 20
			},
			nomeresp: {
				required: true,
				minlength: 3,
				maxlength: 100
			}, 
			emailcont: {
				required: true,
				minlength: 3,
				maxlength: 100,
				email: true
			},
			combustiveis: {
				required: true
			},
			frotapropria: {
				required: true
			},
			convenio: {
				maxlength: 150
			},
			contratosocial: {
				required: true,
				advancedFileSupport: true,
				maxFileLengthKiB: 2048,
				fileExtension: ".pdf"
			},
			extratobancario: {
				required: true,
				advancedFileSupport: true,
				maxFileLengthKiB: 2048,
				fileExtension: ".pdf"
			},
			login: {
				required: true,
				minlength: 3,
				maxlength: 100
			},
			senha: {
				required: true,
				minlength: 6,
				maxlength: 16
			},
			senha2: {
				required: true,
				equalTo: "#senha"
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			JsonWebApi.postFormData("<%- root %>/api/usuario/criar", new FormData(form), function (response) {
				if (response.success) {
					resetForm("#telaLogin");
					alert("Usuário criado com sucesso! " + emoji.happy);
					location.href = "<%- root %>/login";
				} else {
					alert(response.value, true);
				}
			});
		}
	});
	//]]>
</script>

<%- contentFor("head") %>
<style type="text/css">
	body {
		font-size: 17px;
		font-family: "Montserrat";
		color: rgb(20, 35, 74);
		font-weight: 700;
		background-color: whitesmoke;
	}

	input:focus {
		font-weight: 700;
	}

	.text-center {
		font-size: 40px;
		font-weight: 700;
	}

	.form-control::placeholder {
		font-family: "Montserrat";
		font-size: 15px;
		font-weight: 400;
	}

	#btnVoltar {
		background-color: whitesmoke;
		margin-top: 1%;
		margin-left: 1%;
	}

	#telaLogin {
		margin-left: 15%;
		margin-right: 15%;
		margin-bottom: 3%;
	}

	#card {
		background-color: whitesmoke;
	}

	#btnLogo {
		display: block;
		margin: 20px auto;
		width: 170px;
	}

	#cardhead {
		background-color: whitesmoke;
	}

	.cardbutton {
		margin: auto;
	}

	label.error {
		font-weight: normal;
		color: #f00;
		display: block;
	}
</style>
