
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações do Assunto</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id_pedido" name="id_pedido" value="<%=(item ? item.id_pedido : 0) %>" />
				
				<div class="form-group">
					<label for="id_anu">Anúncio Escolhido</label>
					<select id="id_anu" name="id_anu" class="form-control" size="1">
						<option value="">SELECIONE...</option>
						<% for (let i = 0; i < anu.length; i++) { %>
						<option value="<%= anu[i].id_anu %>" <%-((item && item.id_anu === anu[i].id_anu) ? 'selected="selected"' : '') %>><%= anu[i].id_anu %></option>
						<% } %>
					</select>
				</div>  

				<div class="form-group">
					<label for="valortotal_pedido">Valor total</label>
					<input id="valortotal_pedido" name="valortotal_pedido" class="form-control" type="number" min="1" max="9999" value="<%=(item ? item.valortotal_pedido : '') %>" />
                </div> 

			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Pedido') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			valortotal_pedido: {
				required: true,
				maxlength: 10
			},
			id_anu: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/pedido/alterar", form, function (response) {
				if (response.success)
					Notification.success("Pedido alterado com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/pedido/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Pedido criado com sucesso! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
