
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações do Assunto</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id_anu" name="id_anu" value="<%=(item ? item.id_anu : 0) %>" />
				<div class="form-group">
					<label for="id_comb">Produto</label>
					<select id="id_comb" name="id_comb" class="form-control" size="1">
						<option value="">SELECIONE...</option>
						<% for (let i = 0; i < comb.length; i++) { %>
						<option value="<%= comb[i].id_comb %>" <%-((item && item.id_comb === comb[i].id_comb) ? 'selected="selected"' : '') %>><%= comb[i].desc_comb %></option>
						<% } %>
					</select>
				</div>  
				<div class="form-group">
					<label for="id_origem">Origem</label>
					<select id="id_origem" name="id_origem" class="form-control" size="1">
						<option value="">SELECIONE...</option>
						<% for (let i = 0; i < ori.length; i++) { %>
						<option value="<%= ori[i].id_origem %>" <%-((item && item.id_origem === ori[i].id_origem) ? 'selected="selected"' : '') %>><%= ori[i].desc_origem %></option>
						<% } %>
					</select>
				</div> 
				<div class="form-group">
					<label for="prazo_anu">Prazo de Pagamento</label>
					<input id="prazo_anu" name="prazo_anu" maxlength="45" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.prazo_anu : '') %>" />
                </div> 
                <div class="form-group">
					<label for="qtd_anu">Quantidade</label>
					<input id="qtd_anu" name="qtd_anu" class="form-control" type="number" min="1" max="9999" value="<%=(item ? item.qtd_anu : '') %>" />
                </div> 
                
                <div class="form-group">
					<label for="id_transp">Variação CIF/FOB</label>
					<select id="id_transp" name="id_transp" class="form-control" size="1">
						<option value="">SELECIONE...</option>
						<% for (let i = 0; i < tipos.length; i++) { %>
						<option value="<%= tipos[i].id_transp %>" <%-((item && item.id_transp === tipos[i].id_transp) ? 'selected="selected"' : '') %>><%= tipos[i].nome_transp %></option>
						<% } %>
					</select>
				</div> 

				<div class="form-group">
					<label for="desctransp">Transportadora</label>
					<input id="desctransp" name="desctransp" maxlength="45" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.desctransp : '') %>" />
                </div> 
				
				<div class="form-group">
					<label for="maxvalor_anu">Valor Máximo</label>
					<input id="maxvalor_anu" name="maxvalor_anu" maxlength="10" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.maxvalor_anu.toString().replace('.', ',') : '') %>" />
				</div>
				
				<div class="form-group">
					<label for="minvalor_anu">Valor Mínimo</label>
					<input id="minvalor_anu" name="minvalor_anu" maxlength="10" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.minvalor_anu.toString().replace('.', ',') : '') %>" />
                </div> 
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Anúncio') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: { 
			id_comb: {
				required: true
			}, 
			id_origem: {
				required: true
			}, 
			prazo_anu: {
				required: true,
				maxlength: 45,
			},
			qtd_anu: {
				required: true,
				number: true,
				min: 1,
				max: 9999
			},
			id_transp: {
				required: true
			}, 
			desctransp: {
				required: true,
				maxlength: 45,
			},
			maxvalor_anu: {
				required: true,
				maxlength: 10
			}, 
			minvalor_anu: {
				required: true,
				maxlength: 10
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/anuncio/alterar", form, function (response) {
				if (response.success)
					Notification.success("Anúncio alterado com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/anuncio/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Anúncio criado com sucesso! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
