
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações do Usuário</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />
				<input type="hidden" id="idtipo" name="idtipo" value="1" />
				<div class="form-group">
					<label for="login">Login</label>
					<input id="login" name="login" maxlength="100" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.login : '') %>" <%=(item ? 'readonly="readonly"' : '') %> />
				</div>
				<div class="form-group">
					<label for="nome">Nome</label>
					<input id="nome" name="nome" maxlength="100" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
				</div> 

				<div class="form-group">
					<label for="nome">Senha</label>
					<input id="senha" name="senha" maxlength="100" class="form-control upper" type="password" spellcheck="false" value="<%=(item ? item.senha : '') %>" />
				</div> 

				<div class="form-group">
					<label for="nome">Confirmar senha</label>
					<input id="senha" name="senha" maxlength="100" class="form-control upper" type="password" spellcheck="false" value="<%=(item ? item.senha : '') %>" />
				</div> 

				<div class="form-group">
					<label for="idperfil">Perfil</label>
					<select id="idperfil" name="idperfil" class="form-control" size="1">
						<option value="">SELECIONE...</option>
						<% for (let i = 0; i < perfis.length; i++) { %>
						<option value="<%= perfis[i].id %>" <%-((item && item.idperfil === perfis[i].id) ? 'selected="selected"' : '') %>><%= perfis[i].nome %></option>
						<% } %>
					</select>
				</div>  

				<div class="form-group">
					<label for="idtipo">Tipo</label>
					<select id="idtipo" name="idtipo" class="form-control" size="1">
						<option value="">SELECIONE...</option>
						<% for (let i = 0; i < tipos.length; i++) { %>
						<option value="<%= tipos[i].id %>" <%-((item && item.idtipo === tipos[i].id) ? 'selected="selected"' : '') %>><%= tipos[i].nome %></option>
						<% } %>
					</select>
				</div> 

				<div class="form-group">
					<label for="telefone">Telefone</label>
					<input id="telefone" name="telefone" maxlength="20" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.telefone : '') %>" />
				</div> 

				<div class="form-group">
					<label for="cnpj">CNPJ<label>
					<input id="cnpj" name="cnpj" maxlength="20" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.cnpj : '') %>" />
				</div> 

				<div class="form-group">
					<label for="endereco">Endereço</label>
					<input id="endereco" name="endereco" maxlength="100" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.endereco : '') %>" />
				</div>
				<div class="form-group">
					<label for="cep">CEP</label>
					<input id="cep" name="cep" maxlength="15" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.cep : '') %>" />
				</div>
				<div class="form-group">
					<label for="idestado">Estado</label>
					<input id="idestado" name="idestado" class="form-control upper" type="number" value="<%=(item ? item.idestado : '') %>" />
				</div>
				<div class="form-group">
					<label for="idcidade">Cidade</label>
					<input id="idcidade" name="idcidade" class="form-control upper" type="number" value="<%=(item ? item.idcidade : '') %>" />
				</div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Usuário') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			login: {
				required: true,
				minlength: 3,
				maxlength: 100
			},
			nome: {
				required: true,
				minlength: 3,
				maxlength: 100
			},
			idperfil: {
				required: true
			},
			idtipo: {
				required: true
			},
			telefone: {
				required: true,
				minlength: 3,
				maxlength: 20
			},
			endereco: {
				required: true,
				minlength: 3,
				maxlength: 100
			},
			cep: {
				required: true,
				minlength: 3,
				maxlength: 15
			},
			idestado: {
				required: true
			},
			idcidade: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/usuario/alterar", form, function (response) {
				if (response.success)
					Notification.success("Usuário alterado com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/usuario/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Usuário criado com sucesso (senha padrão: 1234)! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
